/* app/assets/stylesheets/custom.css.scss */

/* Import Roboto font styles */
@font-face {
  font-family: 'Roboto';
  src: asset-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: asset-url('Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Apply Roboto font to body and headings */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

// Login - Signup
body.login-page {
  background-image: asset-url('login-image.png'); /* Background image */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.strong-text {
  font-weight: bold;
  margin-bottom: 0px;
}

.strong-text-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  width: 320px;
}

.login-form-container {
  flex: 1;
  padding: 30px;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

h1 {
  font-size: 28px; /* Adjust font size */
  margin-top: 5px; /* Adjust top margin */
  color: #1aa7ec; /* Theme color: #1aa7ec */
}

.login-form {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 92%;
  margin-bottom: 20px;
}

.login-signup-button {
  background-color: #1aa7ec; /* Theme color: #1aa7ec */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
}

.forgot-password-link {
  color: #1aa7ec; /* Theme color: #1aa7ec */
  cursor: pointer;
}

.signup-link {
  color: #1aa7ec; /* Theme color: #1aa7ec */
  cursor: pointer;
}

.signup-page {
  background-image: asset-url('login-image.jpg'); /* Background image */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  width: 320px;
}

// Job List
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #1aa7ec;
}

.logo {
  display: flex;
  align-items: center; /* Align vertically */
}

.logo-image {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflowing content (image) */
  margin-right: 10px; /* Add spacing between logo and logo-text */
}

.logo-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px; /* Adjust font size as needed */
  color: #1aa7ec; /* Change color to your theme color */
}

.logout-button {
  color: #1aa7ec;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.header-link a:visited {
  text-decoration: none;
}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove default padding */
  width: 35px;
  height: 35px;
  border-radius: 50%; /* Make it a circle */
  overflow: hidden; /* Hide overflowing content (image) */
  margin-right: 20px;
}

.notif-button-image {
  max-width: 100%;
  max-height: 100%;
}

.dropdown {
  position: relative; /* Set the container as relative */
  display: inline-block; /* Display the container as inline block */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 100%;
  right: 5px;
  padding: 15px;
}

.dropdown:hover .dropdown-content {
  display: block; /* Show on hover */
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-content span {
  font-weight: strong;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.dropdown-content li {
  padding: 10px;
  text-align: center;
  color: #277dd8;
  text-align: left;
}

.dropdown-content li:hover {
  background-color: #ebf5fb;
}

.dropdown-content li a, a:visited {
  text-decoration: none;
  color: #277dd8;
}

.profile-button-image {
  width: 100%; /* Ensure the image covers the entire circle */
  height: 100%; /* Ensure the image covers the entire circle */
  object-fit: cover; /* Scale the image while preserving aspect ratio */
}

.dropdown-profile-button-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dropdown-profile-name {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-listings {
  margin-top: 60px; /* To push the job listings below the sticky header */
}

.job-item {
  padding: 10px;
  margin: 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.job-item:hover {
  background-color: #ebf5fb;
}

.job-item h2 {
  color: #055c88;
}

.truncated-description {
  text-align: justify;
}

.expand-button,
.collapse-button {
  color: #1aa7ec;
  cursor: pointer;
  text-align: left;
}

.full-description,
.remaining-text {
  text-align: justify;
}

.hidden {
  display: none;
}

.apply-button-container {
  text-align: right;
}

.apply-button {
  background-color: #1aa7ec;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none; /* Add underline to show it's a link */
  display: inline-block; /* Display as a block to retain button styling */
}

.announcement-block {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1aa7ec;
  border-radius: 8px;
  color: white;
}

.announcement-content {
  flex: 1;
  padding-right: 20px; /* Add some spacing between content and image */
}

.announcement-content h1 {
  font-weight: bold;
  color: white;
}

.announcement-button {
  background-color: white;
  color: #1aa7ec;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.announcement-image {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image {
  max-width: 100%;
  max-height: 100%;
}

.search-container {
  margin-top: 10px;
  margin: 20px auto;
  max-width: 80%;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #1aa7ec;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  width: auto; /* Adjust width */
}

.search-button::before {
  background: asset-url('icon.png') center/contain no-repeat;
  content: ''; /* Create an empty content */
  display: block;
  width: 10px;
  height: 10px;
}

.job-list-container {
  background-color: white;
  border-radius: 8px;
  margin: 10px auto;
  max-width: 800px; /* Adjust as needed */
  padding: 10px;
  
  /* Add the border styles */
  border: 2px solid #cfe3ec; /* Border color: #cfe3ec */
}

.no-jobs {
  text-align: center;
  margin-top: 10px;
  color: #999;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start;
  margin-top: 20px;
  max-width: 65%; /* Limit the width to 80% of the screen width */
  margin: 0 auto; /* Center the container horizontally */
}

.left-section {
  flex: 1;
  padding-right: 20px; /* Add some spacing between sections */
}

.right-section {
  flex: 1;
  padding-left: 20px; /* Add some spacing between sections */
  max-width: 250px;
}

.profile-box {
  margin-top: 20px;
  background-color: white;
  border: 2px solid #cfe3ec; /* Border color: #cfe3ec */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 200px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-text {
  margin-bottom: -15px;
  font-weight: bold;
}

.preferences-box {
  margin-top: 20px;
  background-color: white;
  border: 2px solid #cfe3ec; /* Border color: #cfe3ec */
  border-radius: 10px;
  padding: 20px;
  max-width: 200px;
}

.preferences-box h3 {
  margin: 10px 10px 10px 0;
  max-width: 200px;
}

.filter-input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

// profile section
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 55%;
  margin: 0 auto;
}

.top-profile-section {
  order: 1;
  width: 100%;
}

.profile-sections {
  order: 2;
  display: flex; /* Display sections horizontally */
}

.left-profile-section, .right-profile-section {
  padding: 20px;
  border: 1px solid #cfe3ec;
}

.left-profile-section {
  max-width: 250px;
}

.right-profile-section {
  padding: 20px;
  border: 1px solid #cfe3ec;
}

.my-profile-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #cfe3ec;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.profile-text-section {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column; /* Display texts vertically */
}

.my-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.my-profile-text {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px;
}

.my-profile-subtext {
  font-size: 18px;
  color: #555;
  margin-top: -5px;
}

.my-profile-location {
  font-size: 14 px;
  color: #777;
  margin-top: 80px;
}

.profile-preference-box {
  padding: 10px;
}

.profile-preference-box h3 {
  font-weight: normal; /* Thinner font */
}

.profile-preference-box ul {
  list-style-type: none;
  padding: 0;
}

.profile-preference-box li {
  margin-bottom: 10px;
}

.profile-preference-box li span:first-child {
  font-weight: bold; /* Apply bold font to the first span element in each li */
}

.profile-preference-box-title {
  color: #1aa7ec;
  font-weight: bold;
  font-size: 20px;
}

.right-profile-section {
  padding: 24px;
  border: 1px solid #cfe3ec;
}

.experience-item h3,
.work-item h3,
.skills-item h3 {
  color: #1aa7ec; /* Set h3 color to #1aa7ec */
}

.about-list-container ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0;
}

.about-list-container li {
  border-top: 1px solid #cfe3ec; /* Add top border for each li */
  padding: 20px 0; /* Add spacing above and below each li */
  position: relative; /* Set position to relative for positioning my-rate */
}

.about-list-container li:first-child {
  border-top: none; /* Remove top border from the first li */
}

.about-list-container li .my-rate {
  position: absolute;
  top: 0;
  right: 0;
}

.about-list-container li a {
  color: #1aa7ec; /* Set link color to #1aa7ec */
  text-decoration: none; /* Remove underline from links */
}

.skills-item span {
  display: inline-block;
  background-color: #acdef5; /* Set background color */
  color: black; /* Set font color */
  padding: 5px 10px; /* Add padding */
  border-radius: 10px; /* Add rounded corners */
  margin: 5px; /* Add spacing between spans */
}
