// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job-form-container {
  background-color: white;
  border: 2px solid #cfe3ec; /* Border color: #cfe3ec */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 500px; /* Adjust as needed */
  margin: 20px auto;
}

.job-form-header {
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Border color for header */
  padding-bottom: 10px; /* Add padding at the bottom of header */
  display: flex; /* Step 3: Display header and labels in a row */
  align-items: flex-end; /* Align labels at the bottom of the header */
  justify-content: space-between; /* Spread elements across the header */
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Place labels on top of fields */
  align-items: flex-start; /* Align labels to the left */
}

.form-label {
  width: 95%; /* Make label full width of the container */
  font-weight: bold; /* Set label text to bold */
  color: rgb(59, 79, 126); /* Set label text color */
  margin-bottom: 5px; /* Add spacing between label and field */
  text-align: left;
}

.job-input {
  width: 95%; /* Make the input fields full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.job-text-area {
  resize: vertical;
  height: 150px;
}

.job-salary {
  width: 50%;
}

.job-form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.submit-button-container {
  margin-left: auto; /* Push the button to the right */
}

.job-submit-button {
  background-color: #1aa7ec;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 80%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: blue;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button:hover {
  color: red;
}
