<body>
  <div class="profile-container">
    <div class="top-profile-section">
      <div class="my-profile-box">
        <%= image_tag 'duki.jpeg', class: 'my-profile-image' %> 
        <div class="profile-text-section">
          <p class="my-profile-text">Denzel Poginess</p>
          <p class="my-profile-subtext">Sexy Man</p>
        </div>
        <p class="my-profile-location">Cavite City, Philippines – 8:22 pm local time</p>
      </div>

    </div>
    <div class="profile-sections">
      <div class="left-profile-section">
        <div class="profile-preference-box">
          <h3 class='profile-preference-box-title'>My Preferences</h3>
          <ul>
            <li>
              <span class='strong-text-title'>Hours per week</span></br>
              <span>As Needed - Open to Offers</span>
            </li>
            <li>
              <span class='strong-text-title'>Languages</span></br>
              <span class='strong-text'>English:</span> Fluent</br>
              <span class='strong-text'>Tagalog:</span> Native or Bilingual
            </li>
            <li>
              <span class='strong-text-title'>Education</span></br>
              <span>De La Salle University - Dasmariñas</span></br>
              <span>Bachelor of Science in Information Technology</span>
            </li>
          </ul>
          <p class="profile-preference-subtext">As Needed - Open to Offers</p>
          <p class="profile-location">Cavite City, Philippines – 8:22 pm local time</p>
        </div>
      </div>
      <div class="right-profile-section">
        <div class="about-list-container">
          <ul>
            <li>
              <div class="experience-item">
                <h3>Full Stack Tradesman, Software Engineer</h3>
                <span class="my-rate">$25.00/hr</span>
                <span>I’m a full stack developer with experience in building websites for small and medium sized businesses.</span>
              </div>
              <span>more</span>
            </li>
            <li>
              <div class="work-item">
                <h3>Work History</h3>
                <span>No work yet. Once you start getting hired on Upwork, your work with clients will show up here.</span>
              </div>
              <span>more</span>
            </li>
            <li>
              <div class="skills-item">
                <h3>Skills</h3>
                <span>Carpentry</span>
                <span>Business Development</span>
                <span>Close the tooltip</span>
                <span>JavaScript</span>
                <span>Banner Ad Design</span>
                <span>Android SDK</span>
                <span>Magic Mike</span>
                <span>Magic Mike</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>